/* Flexbox container for turtle cards */
/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
   */
   h1{
    text-align: center;
    font-size: 2cm;
    background-color: #ccc;
   }
.container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: red;
    width: 20rem;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;

}